<!DOCTYPE HTML>
<html>
 <head>
  <title> Home Page </title>
  <style>
      body
      {
      background-repeat: no-repeat;  
    background-size: 1550px 750px;
      }
      .but
      {
          border: 5px solid yellow;
          border-radius: 200px;
          color: orange;
          padding-left: 15px;
          margin-top: 100px;
          font-size: 40px;
          margin-right: 1270px;
          margin-left: 20px;
      }
      a {
    text-decoration: none !important;
        color: orange;
}
  </style>
 </head>
 
 <body background="{{url_for('static', filename='images/chat_bot.png')}}">
  <div class="but">
      <a href="home">Click Me!!!</a>
     </div>
  
    </body>

</html>