<!DOCTYPE HTML>
<html>
 <head>
  <title> Home Page </title>
  <style>
    .info{
     width:49%;
	 height:710px;
	 background-color:black;
	 border:pink solid 2px;
	 font-size:20px;
	 color:white;
	 float:left;
	}
	.data{
	padding:10px;
	}
	.img{
	height:30%;
	width:30%;
	padding-left:30%;
	padding-top:10%;
	 
	}
	.bot{
	 width:49%;
	 background-color:green;
	 height:710px;
	 float:right;
	 border:pink solid 2px;
	 }
	 .botArea{
	 width:718px;
	 height:680px;
	 margin:10px;
	 }
  </style>
 </head>
 
 <body>
    <div class="bot">
	<iframe
    src="https://console.dialogflow.com/api-client/demo/embedded/c01969b9-efaa-49ee-990d-f4730e28e669" class="botArea">
</iframe>
	</div>
	<div class="info"> 
	   <h2 style="padding-left:22%;">S.B.A Hospital welcomes you!!!	  </h2>
	   <div class="data">
	     <h3>Health is Wealth.</h3>
	    <br>Welcome to our hospital. We are here to help you with your problems.
		<br>To the right side there is a chatbot known as <span style="color:orange;">Health Master</span>
		<br>The health master will guide you with the problem you face.
        <br><a href="/home">Click me!!!</a>
	   </div>
	   
	   <img class="img" src="static/images/clinic.jpg">
	</div>
	
 </body>

</html>